{% extends "base.html" %}
    
    {% block title %}
        <title>Player Details</title>
    {% endblock title %}
   
{% block content %}
   {% include 'player/player_navbar.html' %}
        
    {% for p in data %}
       <p>Player ID: {{p.pID}}</p>
       <p>Player Name: {{p.fName}} {{p.lName}}</p>
       <p>Weight: {{p.weight}} (KG)</p>
       <p>Height: {{p.height}} (cm)</p>
       <p>Position: {{p.position}}</p>
       <p>Jersey Number: {{p.num}}</p>
        {% endfor %}</p>

{% endblock content %}