{% extends "base.html" %}
    
    {% block title %}
        <title>Player Details</title>
    {% endblock title %}
   
{% block content %}
   {% include 'player/player_navbar.html' %}
    <h4>Player Details:</h4>
    {% for p in data %}
       <p> <b>Player ID: {{p.pID}}</b></p>
       <p><b>Player Name: {{p.fName}} {{p.lName}}</b></p>
       <p><b>Weight: {{p.weight}} (KG)</b></p>
       <p><b>Height: {{p.height}} (cm)</b></p>
       <p><b>Position: {{p.position}}</b></p>
       <p><b>Jersey Number: {{p.num}}</b></p>
        {% endfor %}</p>

{% endblock content %}