
{% extends "base.html" %}
    
    {% block title %}
        <title>Search Player</title>
    {% endblock title %}
   
{% block content %}
{% include 'player/player_navbar.html' %}
<h4>Enter Player ID</h3>
<form method="POST" enctype="multipart/form-data">
<!-- Security token -->
{% csrf_token %}
<!-- Using the formset -->
{{ form.as_p }}

<input type="submit" value="Submit">
</form>

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
{{ message }}
</li>
{% endfor %}
</ul>
{% endif %}

{% endblock content %}
