{% extends "base.html" %}
    
    {% block title %}
        <title>All Players</title>
    {% endblock title %}
   
{% block content %}
{% include 'player/player_navbar.html' %}

    <table class="table table-bordered table-dark"> 
        <tr>
            <th>Player ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Jersey</th>
        </tr>
        {% for p in all_players %}
        <tr>
        <td>{{p.pID}}</td>
        <td>{{p.fName}} {{p.lName}}</td>
        <td>{{p.position}}</td>
        <td>{{p.num}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}

