{% extends "base.html" %}
    
    {% block title %}
        <title>League Table</title>
    {% endblock title%}
   
{% block content %}

    {% include 'leaguestat/leaguestat_navbar.html' %}
    <table class="table table-bordered table-dark"> 
    <tr>
        <th>Team Name</th>
        <th>Total Match</th>
        <th>Won</th>
        <th>Lost</th>
        <th>Drawn</th>
        <th>GF</th>
        <th>GA</th>
        <th>GD</th>
        <th>Points</th>
    </tr>
    {% for d in table %}
    <tr>
        <td>{{d.teamName.teamName}}</td>
        <td>{{d.totalMatch}}</td>
        <td>{{d.won}}</td>
        <td>{{d.lost}}</td>
        <td>{{d.drawn}}</td>
        <td>{{d.gf}}</td>
        <td>{{d.ga}}</td>
        <td>{{d.gd}}</td>
        <td>{{d.points}}</td>
        </tr>
        {% endfor %}
    </table>
        
        
        
{% endblock content %}
