{% extends "base.html" %}
    
    {% block title %}
        <title>Season History</title>
    {% endblock title %}
   
{% block content %}
    {% include 'leaguestat/leaguestat_navbar.html' %}
    
    <h3>Match result history</h3>
    <hr>
    <table class="table table-bordered table-dark">
        
        {% for mh in season_history %}
        <tr>
            <td>{{mh.matchID}}</td> 
            <td>{{mh.teamA}}</td> 
            <td>{{mh.goalA}}-{{mh.goalB}}</td>
            <td>{{mh.teamB}} </td> 
        </tr>
        {% endfor %}
    </table>
{% endblock content %}

