{% extends "base.html" %}
    
    {% block title}
        <title>Welcome</title>
    {% endblock title}
   
{% block content %}
    {% include 'leaguestat/leaguestat_navbar.html' %}
    <table class="table table-bordered table-dark">
        
        {% for mh in season_history %}
        <tr>
            <td>{{mh.matchID}}</td> 
            <td>{{mh.teamA}}</td> 
            <td>{{mh.goalA}}-{{mh.goalB}}</td>
            <td>{{mh.teamB}} </td> 
        </tr>
        {% endfor %}
    </table>
{% endblock content %}

