{% extends "base.html" %}
    
    {% block title %}
        <title>Welcome</title>
    {% endblock title %}
   
{% block content %}
    <h1 class="align_mid">Welcome to the football league home page</h1>
    <p>Here we have 6 teams from universitry to play a football league
    </p>
    
    <p>
    Find contact details in our contact page. <br><br>
    To upload your own memories(any files) of this league go to the social page.<br><br>
    Current player's information in Player page. <br><br>
    Current team's information on team page. <br><br>
    League table and previous fixtures with result on League page. <br><br>
</p>

{% endblock content %}

