{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    {% block title %}
    <title>Base</title>
    {% endblock title %}
    <style>
        li {display: inline;}
    </style>
  </head>
  <body>

    {% block header %}
    {% endblock header %}

    {% block navbar %}
        {% include 'base_navbar.html' %}
    {% endblock navbar %}

    {% block content %}
        <p>this is base</p>
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}
  </body>
</html>
